<mat-toolbar>
  @if (sidenav.mode === 'over') {
  <button mat-icon-button (click)="sidenav.toggle()" >
    @if (sidenav.opened) {
    <mat-icon>close</mat-icon>
    } @else {
    <mat-icon>menu</mat-icon>
    }
  </button>
  }
  <img src="assets/ManageWiseLogo.png" alt="Logo" class="logo">
  <span>Manage<span id="wise">Wise</span></span>
  <span class="mat-spacer"></span>
  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <span>
    <app-language-switcher/>
  </span>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="/" style="height: 0;"></a>
      @for(option of options; track option.title) {
      <mat-list-item (click)="sidenav.mode === 'over' && sidenav.toggle()" [routerLink]="option.path">
        <mat-icon matListItemIcon>{{ option.icon }}</mat-icon>
        {{ option.title }}
      </mat-list-item>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
